<br>
<h6>about me</h6>
<div class="vertical"></div>
<br>
<br>
<br>
<div class="container">
	<div class="text-center">
		<div class="profile"><div class="hello">Hi, I'm Marc Louie<br>Gamer / Frontend & Backend Developer</div></div>
	</div>
	<br>
	<div class="text-center">
		<h5 class="hack-text">My Skills</h5>
		<p>Through coursework and self taught from websites like codepen, github, stackoverflow and youtubes tutorials, I am experienced and familiar with these languages and frameworks.</p>
	</div>
	<br>
	<div class="text-center">	
		<i class="devicons devicon-nodejs-plain wow fadeInUp" data-wow-delay="0.4s"></i>
		<i class="devicons devicon-composer-line-wordmark wow fadeInUp" data-wow-delay="0.4s"></i>
		<i class="devicons devicon-amazonwebservices-plain-wordmark wow fadeInUp" data-wow-delay="0.4s"></i>
		<i class="devicons devicon-laravel-plain-wordmark wow fadeInUp" data-wow-delay="0.6s"></i>
		<i class="devicons devicon-bootstrap-plain-wordmark wow fadeInUp" data-wow-delay="0.6s"></i>          
		<i class="devicons devicon-html5-plain-wordmark wow fadeInUp" data-wow-delay="0.6s"></i>
		<i class="devicons devicon-css3-plain-wordmark wow fadeInUp" data-wow-delay="0.8s"></i> 
		<i class="devicons devicon-jquery-plain-wordmark wow fadeInUp" data-wow-delay="0.8s"></i>         
		<i class="devicons devicon-php-plain wow fadeInUp" data-wow-delay="0.8s"></i>
		<i class="devicons devicon-wordpress-plain-wordmark wow fadeInUp" data-wow-delay="0.8s"></i>
  </div>	                
  	<br>
    <div class="text-center">
    	<a href="https://mcfaith9.github.io/project-mcfaith/assets/images/Turquoise%20Orange%20Profile%20Infographic%20Resume.pdf" class="btn btn-outline-success" role="button" aria-disabled="true" target="_blank">View Resume on github</a>
    	<a href="https://github.com/mcfaith9/project-mcfaith/raw/main/assets/images/mcfaithResume.zip" class="btn btn-outline-success" role="button" aria-disabled="true" target="_blank">Download Resume</a>
    </div>
  	<br>
  <div class="text-center">
  	<p>
  	  <a class="" data-toggle="collapse" href="#aboutme-more" role="button" aria-expanded="false" aria-controls="aboutme-more" style="color:#fff;">
  	    show more
  	  </a>
  	</p>
  	<div class="collapse" id="aboutme-more">
			<section class="skills" id="skills">
				<br>
				<div class="row">
					<div class="container col-md-4">
						<h5>Languages</h5>
						<div class="bars">
							<label class="html">HTML</label>
							<div class="progbar skill-1">97%</div>
							<label class="css">CSS</label>
							<div class="progbar skill-2">90%</div>
							<label class="js">JavaScript</label>
							<div class="progbar skill-3">62%</div>
						</div>
					</div>
					<div class="container col-md-4">
						<h5>Frameworks</h5>
						<div class="bars">
							<label class="html">jQuery</label>
							<div class="progbar skill-1">75%</div>
							<label class="css">Bootstrap</label>
							<div class="progbar skill-2">90%</div>
							<label class="css">Laravel</label>
							<div class="progbar skill-2">70%</div>
						</div>
					</div>
					<div class="container col-md-4">
					  <h5>Databases</h5>
					  <div class="bars">
					    <label class="html">mySQL</label>
					    <div class="progbar skill-1">75%</div>
					  </div>
					</div>
					<div class="container col-md-4">
					  <h5>Tools</h5>
					  <div class="bars">
					    <label class="html">ChromeDevTools</label>
					    <div class="progbar skill-1">75%</div>
					    <label class="html">Photoshop</label>
					    <div class="progbar skill-1">75%</div>
					    <label class="html">Git</label>
					    <div class="progbar skill-1">90%</div>
					    <label class="html">Sublime</label>
					    <div class="progbar skill-1">90%</div>
					  </div>
					</div>
				</div>	        	    
			</section>
  	</div>
  </div>	
</div>
<br><br><br>