<div class="container">
	<br><br>
	<div class="collab">
		<div class="row">
			<div class="col-lg-12">
				<p class="wow fadeInUp hack-text">Got an interesting project? I can help you.</p>
			</div>
		</div>
	</div>
	<br>
	<div class="hr">
		<div class="row"></div>
	</div>
	<br><br>
	<div class="info">
		<div class="row">
			<div class="col-lg-4" id="personal">
				<p class="wow fadeInUp">connect with me</p>
				<h4 class="wow fadeInUp" data-wow-delay="0.2s">facebook @mcdc</h4>
				<br><br>
			</div>
			<div class="col-lg-4" id="media">
				<p class="wow fadeInUp" data-wow-delay="0s">follow me</p>
				<ul>
					<li id="fb" class="wow fadeInUp" data-wow-delay="0.4s">fb</li>
					<li id="ig" class="wow fadeInUp" data-wow-delay="0.6s">github</li>
					<li id="tw" class="wow fadeInUp" data-wow-delay="0.8s">messenger</li>
					<!-- <li id="yt" class="wow fadeInUp" data-wow-delay="1s">e</li> -->
				</ul>

				<br><br>
			</div>

			<div class="col-lg-4" id="address">
				<p class="wow fadeInUp" data-wow-delay="0s">say hello</p>
				<h4 class="wow fadeInUp" data-wow-delay="0.2s">marclouie@aguyiknow.com.ph</h4>
				<br><br>
			</div>							
		</div>
	</div>
</div>