<div class="card" style="background-color:transparent;">
<img class="wcmd-head" src="assets/images/windowsterminal.svg" alt="windowsterminal.png" style="position: absolute;width: 100%;top: 0px;left: 0%; border-top-left-radius: .25rem;border-top-right-radius: .25rem;">
	<div class="content" style="text-align: center;">
		<h1 class="light">Hello World<span class="dark">.</span></h1>
		<p class="medium">Next Time a &nbsp;<a class="light" href="#">STRANGER</a></p>
		<p class="medium">talks to you when you\'re alone</p>
		<p class="medium">Just look at</p>
		<p class="medium">them shocked and whisper.</p>
		<p class="medium">"You can see me?"</p>
		<p class="medium"><a class="light" href="#">-- unknown</a></p>
		<p class="medium">a proud employee of</p>
		<p class="agik-gif">
			<img class="agikgif" src="assets/images/agikHigh.gif" style="width:50%;height:auto;">
		</p>
		<div class="tabs dark">
			<p class="tab">One thing.</p>
			<p class="tab">Two thing.</p>
			<p class="tab">Three thing.</p>
			<p class="tab">Four thing.</p>
		</div>
	</div>
</div>