<br><br><br>
<h6>selected projects</h6>
<div class="vertical"></div>
<br>
<div class="whitespace"></div>
<div class="whitespace"></div>

<div class="container">
	<div class="ultimate-post-kit-container">
	  <div class="upk-elite-grid">
			<div class="upk-post-grid upk-post-layout-2">
				<div class="upk-post-grid-item">
					<div class="upk-post-grid-item-box">
						<div class="upk-blog-image-wrapper">
							<div class="upk-main-image"><img alt="hashtagkiki.svg" class="upk-blog-image" src="assets/images/svg/hashtagkiki.svg"></div>
							<div class="upk-category-meta-wrap upk-flex upk-flex-middle">
								<div class="upk-elite-grid-category">
									<a href="https://mcfaith9.github.io/hashtagkiki.com.au/" rel="category tag" target="_blank">visit on github</a>
								</div>
							</div>
						</div>
						<div class="upk-blog-box-content">
							<div>
								<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="https://mcfaith9.github.io/hashtagkiki.com.au/" target="_blank" title="hashtagkiki.com.au">hashtagkiki.com.au</a></h2>
								<div class="upk-blog-desc-wrap">
									<div class="upk-blog-desc">
										<p>Tila ibon kung lumipad, sumabay sa hangin Ako'y napatingin sa dalagang nababalot ng hiwaga Mapapansin kaya sa dami ng 'yong ginagawa</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="upk-post-grid-item">
					<div class="upk-post-grid-item-box">
						<div class="upk-blog-image-wrapper">
							<div class="upk-main-image"><img alt="hashtagkiki2.svg" class="upk-blog-image" src="assets/images/svg/hashtagkiki2.svg"></div>
							<div class="upk-category-meta-wrap upk-flex upk-flex-middle">
								<div class="upk-elite-grid-category">
									<a href="https://mcfaith9.github.io/hashtagkiki.com.au2/" rel="category tag" target="_blank">visit on github</a>
								</div>
							</div>
						</div>
						<div class="upk-blog-box-content">
							<div>
								<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="https://mcfaith9.github.io/hashtagkiki.com.au2/" title="hashtagkiki2.com.au version 2" target="_blank">hashtagkiki2.com.au version 2</a></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="upk-post-grid-item">
					<div class="upk-post-grid-item-box">
						<div class="upk-blog-image-wrapper">
							<div class="upk-main-image"><img alt="Business women having a brainstor meeting and build real customer" class="upk-blog-image" src="assets/images/svg/snservices.svg"></div>
							<div class="upk-category-meta-wrap upk-flex upk-flex-middle">
								<div class="upk-elite-grid-category">
									<a href="https://mcfaith9.github.io/snservices.com.au-comingsoon/" rel="category tag" target="_blank">visit on github</a>
								</div>
							</div>
						</div>
						<div class="upk-blog-box-content">
							<div>
								<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="https://mcfaith9.github.io/snservices.com.au-comingsoon/" title="snservices.com.au-comingsoon" target="_blank">snservices.com.au-comingsoon</a></h2>												
							</div>
						</div>
					</div>
				</div>
				<div class="upk-post-grid-item">
					<div class="upk-post-grid-item-box">
						<div class="upk-blog-image-wrapper">
							<div class="upk-main-image"><img alt="project-biscuit" class="upk-blog-image" src="assets/images/svg/project_biscuit.svg"></div>
							<div class="upk-category-meta-wrap upk-flex upk-flex-middle">
								<div class="upk-elite-grid-category">
									<a href="https://mcfaith9.github.io/Biscuit-Project/homepage.html" rel="category tag" target="_blank">visit on github</a>
								</div>
							</div>
						</div>
						<div class="upk-blog-box-content">
							<div>
								<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="https://mcfaith9.github.io/Biscuit-Project/homepage.html" title="project biscuit" target="_blank">project biscuit back on i was a college stundent</a></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="upk-post-grid-item">
					<div class="upk-post-grid-item-box">
						<div class="upk-blog-image-wrapper">
							<div class="upk-main-image"><img alt="whitebelt.co" class="upk-blog-image" src="assets/images/svg/whitebelt.co.svg"></div>
							<div class="upk-category-meta-wrap upk-flex upk-flex-middle">
								<div class="upk-elite-grid-category">
									<a href="https://whitebelt.co/login" rel="category tag" target="_blank">visit live site</a>
								</div>
							</div>
						</div>
						<div class="upk-blog-box-content">
							<div>
								<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="https://whitebelt.co/login">whitebelt.co colaborate project when i as OJT</a></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="upk-post-grid-item">
					<div class="upk-post-grid-item-box">
						<div class="upk-blog-image-wrapper">
							<div class="upk-main-image"><img alt="starofthenorth.com.au" class="upk-blog-image" src="assets/images/svg/starofthenorth.com.au.svg"></div>
							<div class="upk-category-meta-wrap upk-flex upk-flex-middle">
								<div class="upk-elite-grid-category">
									<a href="https://starofthenorth.com.au/staging/dev" rel="category tag" target="_blank">visit live site</a>
								</div>
							</div>
						</div>
						<div class="upk-blog-box-content">
							<div>
								<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="https://starofthenorth.com.au/staging/dev" target="_blank" title="hashtagkiki.com.au">starofthenorth.com.au is on going project which i created an mockup themes</a></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="upk-post-grid-item">
					<div class="upk-post-grid-item-box">
						<div class="upk-blog-image-wrapper">
							<div class="upk-main-image"><img alt="neilwaterhouse.com" class="upk-blog-image" src="assets/images/svg/neilwaterhouse.com.svg"></div>
							<div class="upk-category-meta-wrap upk-flex upk-flex-middle">
								<div class="upk-elite-grid-category">
									<a href="https://www.neilwaterhouse.com/blog/" rel="category tag" target="_blank">visit live site</a>
								</div>
							</div>
						</div>
						<div class="upk-blog-box-content">
							<div>
								<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="https://www.neilwaterhouse.com/blog/">neilwaterhouse.com is my previous part time job</a></h2>
							</div>
						</div>
					</div>
				</div>								

			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
</div>
<div class="whitespace"></div>